<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Task</ion-label>
    <ion-input [(ngModel)]="taskInput"></ion-input>
  </ion-item>
  <ion-button color="dark" (click)="addTask()">Add Task</ion-button>
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label>{{task}}</ion-label>
      <ion-button color="danger" (click)="deleteTask(task)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
